<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
            z-index: -1;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        button:hover,
        a:hover {
            opacity: 0.7;
        }
    </style>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/header') %>
       
            <h2 style="text-align:center">Profile Cards</h2>
            <div class="container">
                <div class="row">
                    
                        <div class="col">

                           
                            <div class="card">
                               
                                        <img src="../images/<%= user.image %>" alt=" <%= user.name %>"
                                            style="height:350px">
                                    

                                            <h1>
                                                <%= user.name %>
                                            </h1>
                                            <p class="title">
                                                <%= user.work %>
                                            </p>
                                            <p>Harvard University</p>
                                            <div style="margin: 24px 0;">
                                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </div> 
                                            <a href="/show/<%= user._id %>">
                                                <%= user.name %>
                                              </a>
                                            <a href="http://localhost:8000/show/<%= user._id %>">Contact</a>
                                         
                                              
                            </div>
                        </div>
                 
                       

                </div>
              
            </div>
</body>

</html>